.nav {
    grid-area: n;
    padding: 20px;
    height: 200px;
}

.item a{
    color: #777777;
    text-decoration: none;
    font-size: 25px;
    line-height: 40px;
}

.item:hover {
    
    background-color: #333336;
}

.set {
    margin-top: 50px;
}

.item a.active {
    color: gold;
}